<div class="container">
    <form id="createexercise-form"role="form" >
      <h2 class="text-center">Create New Exercise</h2>
      <br/>
    
      <div class="form-group">
        <label for="exercise_name">Exercise Name</label>
        <input type="text" class="form-control" id="exercise_name" name="exercise_name" placeholder="Exercise Name" [(ngModel)]="exercise.exercise_name">
      </div>
      <div *ngIf="!isValidName" class="alert alert-danger" id="formError">
        Exercise name must be at least 1 character.
      </div>
    
      <label>Exercise Type</label>
      <div class="row">
        <div class="col">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{buttonDisplay}}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button id="type1"class="dropdown-item" (click)="typeOne()">Upper Body</button>
              <button id="type2"class="dropdown-item" (click)="typeTwo()">Lower Body</button>
              <button id="type3"class="dropdown-item" (click)="typeThree()">Full Body</button>
              <button id="type4"class="dropdown-item" (click)="typeFour()">Chest</button>
              <button id="type5"class="dropdown-item" (click)="typeFive()">Back</button>
              <button id="type6"class="dropdown-item" (click)="typeSix()">Biceps</button>
              <button id="type7"class="dropdown-item" (click)="typeSeven()">Triceps</button>
              <button id="type8"class="dropdown-item" (click)="typeEight()">Shoulders</button>
              <button id="type9"class="dropdown-item" (click)="typeNine()">Abs</button>
              <button id="type10"class="dropdown-item" (click)="typeTen()">Glutes</button>
              <button id="type11"class="dropdown-item" (click)="typeEleven()">Hamstrings</button>
              <button id="type12"class="dropdown-item" (click)="typeTwelve()">Quads</button>
              <button id="type13"class="dropdown-item" (click)="typeThirteen()">Calves</button>
              <button id="type14"class="dropdown-item" (click)="typeFourteen()">Cardio</button>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="!isValidType" class="alert alert-danger" id="formError">
        Please select an exercise type.
      </div>
      <br>
      <div class="form-group">
        <label for="exercise_description">Description</label>
        <input type="text" class="form-control" id="exercise_description" name="exercise.exercise_description" placeholder="Description" [(ngModel)]="exercise.exercise_description">
      </div>
      <!-- <div *ngIf="!isValidDescription" class="alert alert-danger" id="formError">
        Description must be atleast 1 character.
      </div> -->
    
      <div class="form-group">
        <label for="exercise_sets">Sets</label>
        <input type="number" class="form-control" id="exercise_sets" name="exercise.exercise_sets" placeholder="Sets" [(ngModel)]="exercise.exercise_sets">
      </div>
      <div *ngIf="!isValidSets" class="alert alert-danger" id="formError">
        Please enter the number of sets for this exercise.
      </div>

      <div class="form-group">
        <label for="exercise_reps">Reps</label>
        <input type="number" class="form-control" id="exercise_reps" name="exercise.exercise_reps" placeholder="Reps" [(ngModel)]="exercise.exercise_reps">
      </div>
      <div *ngIf="!isValidReps" class="alert alert-danger" id="formError">
        Please enter the number of reps for this exercise.
      </div>
    
      <div class="form-group">
        <label for="exercise_duration">Set Duration (seconds)</label>
        <input type="number" class="form-control" id="exercise_duration" name="exercise.exercise_duration" placeholder="Set Duration" [(ngModel)]="exercise.exercise_duration">
      </div>
      <div *ngIf="!isValidDuration" class="alert alert-danger" id="formError">
        Please enter a duration for each set.
      </div>
    
      <div class="form-group">
        <label for="exercise_rest">Rest Duration After Each Set (seconds)</label>
        <input type="text" class="form-control" id="exercise_rest" name="exercise.exercise_rest" placeholder="Rest Duration" [(ngModel)]="exercise.exercise_rest">
      </div>
      <div *ngIf="!isValidRest" class="alert alert-danger" id="formError">
        Please enter a duration to rest between sets.
      </div>
      
      <div class="justify-content-center">
        <button type="submit" class="btn btn-success" id="createexercise" (click)="addExercise()">Create Exercise</button>
      </div>
    </form>

    </div>

