<h1>Create New Exercise</h1>
<label for="exercisename">Name:</label>
<input id="exercisename" type="text" [(ngModel)] = "exercise.exercise_name">

<label for="exercisdescription">Description:</label>
<input id="exercisedescription" type="text" [(ngModel)] = "exercise.exercise_description">

<label for="setreps">Reps:</label>
<input id="setreps" type="text" [(ngModel)] = "exercise.exercise_reps">

<label for="exercisesets">Sets:</label>
<input id="exercisesets" type="text" [(ngModel)] = "exercise.exercise_sets">

<label for="setduration">Duration:</label>
<input id="setduration" type="text" [(ngModel)] = "exercise.exercise_duration">

<label for="setrest">Rest Duration After Set:</label>
<input id="setrest" type="text" [(ngModel)] = "exercise.exercise_rest">

<button id="createexercise" (click)="addExercise()"></button>