
  <div *ngIf = "showExercise">
    <h1 id="currentExerciseLabel">Current Exercise:</h1>
    <h2 id="currentexercise">{{currentExercise}}</h2>

    <h1 id="setDurationLabel">Set Duration:</h1>
    <h2 id="setduration">{{setDuration}}</h2>

    <h1 id="nextExerciseLabel">Next Exercise:</h1>
    <h2 id="nextexercise">{{nextExercise}}</h2>
  </div>
  
  <div *ngIf = "showRest">
    <h1 id="restLabel">Rest Duration:</h1>
    <h2 id="setrest">{{setRest}}</h2>

    <h1 id="nextExerciseLabel">Next Exercise:</h1>
    <h2 id="nextexercise">{{nextExercise}}</h2>
  </div>

  <div class="justify-content-center" *ngIf = "showBeginButton">
    <button type="submit" class="btn btn-begin" id="beginworkout" (click)="beginWorkout()">Start Workout</button>
  </div>

  <div *ngIf = "showCheckbox" class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="textingEnabled" (change) = "checkboxClicked()">
    <label class="form-check-label" for="textingEnabled">
      Enable text-guide for workout
    </label>
  </div>

  <div *ngIf = "showTimePicker">
    <br>
    <p>Choose the Date and Time you would like to begin your workout</p>
    <ngb-timepicker [(ngModel)]="time" [meridian]="meridian"></ngb-timepicker>
  </div>

  <div *ngIf = "showDatePicker">
    <ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next"></ngb-datepicker>
  </div>

  <div *ngIf = "showWaitingMessage">
    <h1>Waiting for workout to begin at: {{userDate}}</h1>
  </div>
  <div class="justify-content-center" *ngIf = "showEndButton">
    <button type="submit" class="btn btn-end" id="endworkout" (click)="endWorkout()">End Workout</button>
  </div>