<h1>Discover</h1>>
<h2>Search for your new favorite workouts and exercises from around the globe</h2>

<p>
  <button type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="collapseWorkouts">
    Show Workouts
  </button>
</p>
<div id="collapseWorkouts" [ngbCollapse]="isCollapsed">
  

  <div class="card-deck"  *ngFor="let workout of workoutList">
    <div class="card border-info mb-3" style="max-width: 18rem">
      <div class="card-body text-info">
        <h5 class="card-title">{{workout.workout_name}}</h5>
        <p class="card-text">Description: {{workout.workout_description}}</p>
        <div class="card-footer text-muted">
          <a class="card-link"  (click)="openWorkoutModal(workout)">View Exercises</a>
          <a class="card-link" (click)="startWorkout(workout)">Start Workout</a>
        </div>
      </div>
    </div>
  </div>


</div>



<p>
  <button type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExercises">
    Show Exercises
  </button>
</p>
<div id="collapseExercises" [ngbCollapse]="isCollapsed">
  

  <div class="card-deck"  *ngFor="let exercise of exerciseList">
    <div class="card border-info mb-3" style="max-width: 18rem">
      <div class="card-body text-info">
        <h5 class="card-title">{{exercise.exercise_name}}</h5>
        <p class="card-text">Description: {{exercise.exercise_description}}</p>
        <div class="card-footer text-muted">
          <a class="card-link"  (click)="openExerciseModal(exercise)">Exercise Details</a>
        </div>
      </div>
    </div>
  </div>


</div>









  