
  
<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">WorkMeOut</h1>
    <p class="lead text-muted">Your Guide to Personal Fitness</p>
      <div class="btn-group">
      <a href="#" class="btn btn-success my-2">Start a workout!</a>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-outline-success dropdown-toggle my-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Select Workout
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#">Dropdown link</a></li>
            <li><a href="#">Dropdown link</a></li>
          </ul>
        </div>
      </div>
  </div>
</section>