<div class="container">
  <div class="jumbotron  text-center">
    <h2 class="jumbotron-heading">Your Workouts!</h2>
    <br>
    <p class="lead text-muted">Quickly Start an Existing Workout or Create a New One From Scratch</p>
  </div>
  <div class="card-deck"  *ngFor="let workout of workouts">
    <div class="card border-info mb-3" style="max-width: 18rem">
      <div class="card-body text-info">
        <h5 class="card-title">{{workout.workout_name}}</h5>
        <p class="card-text">Number of exercises: {{getNumberOfExercises(workout.workout_id)}}</p>
        <p class="card-text">Workout description: {{workout.workout_description}}</p>
        <div class="card-footer text-muted">
          <a class="card-link"  (click)="openModal(workout)">View Details</a>
          <a class="card-link" (click)="startWorkout(workout)">Start Workout</a>
        </div>
      </div>
    </div>
  </div>
</div>
