<p>
  recovery works!
</p>
<label for="email" class="col-md-2 col-form-label">Enter Email Address</label>
<div class="col-md-4">
  <input type="text" class="form-control" name="email" [(ngModel)]="email">
</div>
<label for="newPassword" class="col-md-2 col-form-label">Enter New Password</label>
<div class="col-md-4">
  <input type="password" class="form-control" name="newPassword" [(ngModel)]="newPassword">
</div>
<label for="confirmPassword" class="col-md-2 col-form-label">Confirm Password</label>
<div class="col-md-4">
  <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword">
</div>
<div class="col-md-2">
  <button type="button" class="btn btn-success" (click)="updatePassword()">Save Password</button>
</div>
<div class="col-md-2">
  <button type="button" class="btn" (click)="cancel()">Cancel</button>
</div>
<div *ngIf="!passwordMatch" class="alert alert-danger" id="formError">
  Passwords do not match!
</div>
<div *ngIf="!passwordLength" class="alert alert-danger" id="formError">
  New password must be at least 8 characters!
</div>
<div *ngIf="passwordSuccess" class="alert alert-success" id="formError">
    Password successfully updated!
  </div>